.interview-container {
  display: grid;
  grid-template-rows: 10vh max-content 50vh;
  grid-template-columns: repeat(8, 1fr);
}

.video {
  grid-column: 1 / -1;
  margin-bottom: 8rem;
}

.taylor {
  position: absolute;
  top: 84%;
  left: 3%;
}

.taylor-link {
  text-decoration: none;
  color: #13244E;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.heading-4 {
  padding-left: 2rem;
  font-size: 2.5rem;
  font-family: 'Bebas Neue', cursive;
  color: #13244E;
  margin-bottom: 2rem;
}

.interview-content {
  padding-left: 2rem;
  grid-row: 1 / -1;
  color: #8892A6;
  font-size: 1.8rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

